body{
    margin: 0;   
}
.One{
    display: flex;
    margin-left: 100px;
}
.headline{
    width: 80%;
}
.stay{
    font-size: 50px;
    font-family: 'Moon Dance', cursive;
    margin-bottom: 5px;
    border-left: 4px solid;
    border-image: linear-gradient(salmon, #a54439);
    border-image-slice: 1;
}
#mission{
    color: #ffad5a;
    margin-top: 0px;
}
a{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px 30px;
    border-radius: 3px;
}
p{
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
}
.imgs{
    padding-left: 150px;
}
.imgs img{
    width: 60%;
}
.Two{
    margin-top: 50px ;
}
.span{
    text-align: center;
    font-size: 50px;
    font-family: 'Moon Dance', cursive;
    color: #13133A;
}
#naps{
    color:#ffad5a ;
}
.division{
    display: flex;
    padding-right: 15px;
    margin-right: 25px;
    margin-left: 50px ;
    padding-left: 10px ;
    border-radius: 10px;
}
.division img {
    width: 15%;
}
#sion{
    background-color: #EDF5F6;
}
#ion{
    background-color: #FFEEEE;
}
#on{
    background-color: #FFF4D6;
}
footer{
    font-family: 'Moon Dance', cursive;
    height:150px;
    padding-top: 20px;
    text-align: center;
    background-color:#0B0d17;
    color:white ;
}
footer p {
    color: #6C8AA2;
}
#year{
    color: #FF5959;
}