body{
    margin: 0;   
}
.One{
    display: flex;
    margin-left: 100px;
}
.headline{
    width: 80%;
}
.ref{
    border-left: 4px solid;
    border-image: linear-gradient(salmon, #a54439);
    border-image-slice: 1;
}
.stay{
    font-size: 50px;
    font-family: 'Moon Dance', cursive;
    margin-bottom: 5px;
}
#mission{
    color: #ffad5a;
    margin-top: 0px;
}
a{
    text-decoration: none;
    color: white;
    background-color: #FF5959;
    font-family: 'Nunito Sans', sans-serif;
    padding: 10px 30px;
    border-radius: 3px;
}
p{
    padding-bottom: 15px;
    padding-top: 15px;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
}
.imgs{
    padding-left: 150px;
}
.imgs img{
    width: 60%;
}
.Two{
    margin-top: 50px ;
    margin-bottom: 75px;
}
.span{
    text-align: center;
    font-size: 50px;
    font-family: 'Moon Dance', cursive;
    color: #13133A;
}
#naps{
    color:#ffad5a ;
}
.flex{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
}
.division{
    padding-right: 15px;
    padding-left: 10px ;
    margin-right: 20px;
    border-radius: 20px;
    height: 300px;
    width: 300px;
}
.division img {
    width: 40%;
}
#sion{
    background-color: #EDF5F6;
}
#ion{
    background-color: #FFEEEE;
}
#on{
    background-color: #FFF4D6;
}
h2{
    font-family: 'Moon Dance', cursive;
}
.Three{
    display: flex;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 220px;
    margin-left: 50px;
    margin-right: 40px;
}
#src img {   
    width: 70%;
    margin-left: 100px;
}
.cl{
    font-size: 40px;
    font-family: 'Moon Dance', cursive;
    line-height: 20px;
}
.Four{
    display: flex;
    height: 470px;
    margin-top: 100px;
    margin-bottom: 50px;
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 180px;
    margin-left: 100px;
    margin-right: 50px;
}
.clss{
    font-size: 40px;
    font-family: 'Moon Dance', cursive;
    line-height: 20px;
}
#margin{
    margin-right: 50px;
}
#ima img{
    width: 80%;
}
.five{
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 150px;
}
#fiveh1{
    text-align: center;
    font-size: 50px;
    font-family: 'Moon Dance', cursive;
    margin-bottom: 100px;
}
#flex-repeat{
    display: flex;
}
#imgsrc{
    background-image: url(images/shape-3.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 80px;
}
#imgsrc img{
    width: 50%;
}
#id{
    width: 70%;
}
.omicron{
    font-size: 40px;
    line-height: 20px;
    font-family: 'Moon Dance', cursive;
}
.omi{
    color: #FFAD5A;
}
footer{
    font-family: 'Moon Dance', cursive;
    height:150px;
    padding-top: 20px;
    text-align: center;
    background-color:#0B0d17;
    color:white ;
}
footer p {
    color: #6C8AA2;
}
#year{
    color: #FF5959;
}